body {
  font-family: 'IBM Plex Serif', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 5vh;
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #AF3235;
}

a:hover {
  color: #5f0d0e; 
}

svg {
  width: 24px;
  height: 24px;
  color: #000;
}

.title {
  font-size: 3.5em;
}

.subtitle {
  font-size: 1.5em;
}

.post-header {
  margin: auto;
}

.icons {
  margin: auto;
  padding-top: 1em;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 3em 0 3em 0;
}

.header-text-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.text-link {
  border: 2px;
}

.blog {
  margin: auto;
  max-width: 800px;
}

.blog-image {
  max-width: 100%;
}

.blog-entry-text {
  font-size: 18px;
}

.blog ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog li {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 0px;
}

.blog li:first-child {
  font-size: 24px;
  border-top: 1px solid #ccc;
  padding: 10px 0 10px 0px;
}

.blog li:last-child {
  border: none;
}

@media screen and (min-width: 550px) {
  .blog li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    max-width: 100%;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }

  .blog li a:hover {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}

.blog li a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  max-width: 100%;
}

.pfp img {
  border-radius: 50%;
}

.pfp {
  display: flex;
  align-self: center;
}